.gameSelect {
    display: flex;
    flex-direction: row;    
}

.modeBox {
    width: 100px;
    height: 100px;
}

.td {
    position: relative;
    width:35px;
    height:30px;
    cursor:default;
}

.td::before {
    position: absolute;
    top:0px;
    left:0px;
    content: "";
    width:inherit; 
    height:inherit;
    background-color: white;
    cursor:default;
}

.mineCell {
    background-color :  red;
}
.mineCell::before {
    display: none;
}


.flagCell::before {
    background-color :  yellow;
    content: "!";
}

.questCell::before {
    background-color :  skyblue;
    content: "?";
}

.openCell {
    background-color :  greenyellow;
}
.openCell::before {
    display: none;
}
